@import "/home/alex/.cache/wal/colors-waybar.css";

#waybar {
    background-color: @background;
}

#pulseaudio,
#clock,
#workspace,
#taskbar button,
#battery,
#backlight,
#cpu,
#memory,
#tray,
#bluetooth,
#privacy,
#custom-usb,
#custom-brightness
{
    border: 2px solid @foreground;
}

#clock {
    background: @background;
    color: @tcolor0;
}

#pulseaudio,
#workspaces,
#taskbar button,
#custom-brightness
{
    background: @color1;
    color: @tcolor1;
}

#battery
{
    background: @color2;
    color: @tcolor2;
}

#workspaces .active,
#taskbar button,
#custom-usb,
#bluetooth
{
    background: @color3;
    color: @tcolor3;
}

#cpu
{
    background: @color4;
    color: @tcolor4;
}

#backlight,
#memory,
#privacy 
{
    background: @color6;
    color: @tcolor6;
}

#tray {
    background: @color5;
    color: @tcolor5;
}
