@import "style.css";

/* {
    border-radius: 10px;
}*/

* {
    padding: 1px;
    /*margin: 0px;*/
}

#waybar {
    background: @background;
    /*background-color: transparent; */
    padding: 0px;
    /*border-radius: 20px;*/
}

.background {
    /*background-color: transparent;*/
}

