@import "style.css";

#waybar {
    background-color: transparent; 
    border-radius: 20px;
}

.background {
    background-color: @background;
}

.modules-left, .modules-right, .modules-center {
  background-color: @foreground;
  border-radius: 20px;
  padding-left: 2px;
  padding-right: 2px;
}
