@import "../fonts.css";
@import "../colorful.css";
@import "../padding.css";
@import "../rounding.css";

* {
    font-size: 16px;
}

#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    /* filter: blur(8px); */
}

.modules-left > * > * {
  background-color: @foreground;
  border-radius: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.modules-right > * > * {
  background-color: @foreground;
  border-radius: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

#taskbar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces {
    background-color: rgba(0, 0, 0, 0);
}
