@import "/home/alex/.cache/wal/colors-waybar.css";

#waybar {
    background: @background;
    color: @tcolor0;
    /*background-color: transparent; */
    padding: 0px;
    /*border-radius: 20px;*/
    font-size: 14px
}

#workspaces .active {
    background: @color1;
    color: @tcolor1;
    border-radius: 0;
}

#custom-brightness {
    padding-right: 10px;
}
