@import "/home/alex/.cache/wal/colors-waybar.css";
@import "/home/alex/.config/waybar/fonts.css";

* {
    font-weight: bold;
    color: @tcolor8
}

#waybar
{
    background: @background;
    padding-bottom: 0;
}

.modules-left > * > *,
.modules-center > * > *,
.modules-right > * > *
{
    margin-left: 6px;
    margin-right: 6px;
}

#pulseaudio,
#clock,
#workspaces,
#taskbar button,
#battery,
#backlight,
#cpu,
#memory,
#tray,
#bluetooth,
#privacy,
#custom-usb,
#custom-brightness
{
    background: @color8;
    border-radius: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
    margin-top: 4px
}

#taskbar button
{
    font-size: 0px;
    margin-right: 8px;
}

#taskbar button.active
{
    background: @foreground;
}

#workspaces
{
    padding: 0px;
}

#workspaces .active
{
    background: @color1;
    color: @tcolor1;
    border-radius: 24px;
}
