@import "/home/alex/.cache/wal/colors-waybar.css";

* {
    font-weight: bold;
}

#waybar
{
    background: @background;
    padding-bottom: 24px;
}

.modules-left > * > *,
.modules-center > * > *,
.modules-right > * > *
{
    margin-left: 6px;
    margin-right: 6px;
}

#pulseaudio,
#clock,
#workspace,
#taskbar button,
#battery,
#backlight,
#cpu,
#memory,
#tray,
#bluetooth,
#privacy,
#custom-usb
{
    background: @color8;
    border-radius: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
    margin-top: 4px
}

#taskbar button
{
    font-size: 0px;
    margin-right: 8px;
}

#taskbar button.active
{
    background: @foreground;
}
